* {
    margin: 0;
    padding: 0;
}

.body {
    background-repeat: no-repeat;
    background-image: linear-gradient(#d7d7d7, grey, #222222cc);
}

/* ---------- NAV ----------*/
.navColor {
    background-color: #FFFF;
    padding: 0;
}

#navbarNavDropdown {
    justify-content: end;
    padding-right: 20px;
}

.secciones li {
    padding: 0px 10px 0px 10px;
}

.nav-item:hover {
    background-color: #c7c5c5bb;
    border-radius: 30px;
    transition: .5s;
}

.dropdown {
    margin-right: 20px;
}

.Logo {
    margin: 0px 0px 0px 10px;
}

.logo {
    max-width: 110px;
}

.logo:hover {
    max-width: 115px;
    transition: .5s;
}

/* ------- MAIN INDEX -------- */
.card-body {
    background-color: #b1aeaee7;
}

.infoIndex {
    justify-content: space-around;
}

.carta{
    overflow: auto;
}

/* -------------- MAIN SERVICIOS -------------- */
.sec1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #c4c0c0;
    overflow: auto;
}


#credito,
#cambio,
#service,
#lavadero {
    max-width: 25rem;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    background-color: #3b3b3b8e;
    margin: 15px;
}

#service ul {
    text-align: start;
}

#credito a,
#cambio a,
.a {
    color: #5eedf7fb;
}

#credito:hover,
#cambio:hover,
#service:hover,
#lavadero:hover {
    background-color: #424141e8;
}

#credito a:hover,
#cambio a:hover,
.a:hover {
    color: #08a9b5da;
}

/* --------- MAIN NOSOTROS ---------*/
.n-hs table {
    overflow: auto;
}

.n-hs table,
th,
td {
    border: solid black 1px;
    padding: 5px;
    text-align: center;
}

.n-info {
    display: flex;
    margin: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.n-ubicacion,
.n-contacto {
    border: black solid 1px;
    padding: 20px;
    margin: 20px;
    overflow: auto;
}

.n-ubicacion,
.n-contacto h2 {
    text-align: center;
}

.agencia {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    overflow: hidden;
}

.agencia img {
    height: auto;
    width: auto;
    max-width: 600px;
}

.agencia p {
    padding: 30px;
    font-size: 20px;
}

/* --------- MAIN VENTA ----------- */
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form {
    max-width: 85vh;
    padding: 20px;
    background-color: #7070707e;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
    margin: 0 25% 5% 25%;
    overflow: auto;
}

.form span,
.form p {
    color: whitesmoke;
    font-size: 20px;
}

.datosPersonales,
.datosAuto,
.calServicios {
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.form input {
    margin: 10px 10px;
    padding: 5px;
    border-radius: 20px;
}

.vender {
    font-size: 30px;
}



/* ------- MAIN AUTOS ------*/
.autos img {
    max-width: 350px;
    padding: 20px;
    margin: 5px 0px 20px 0px;
}

.autos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.c-img {
    position: relative;
    overflow: auto;
    cursor: pointer;
    display: flex;
    text-align: center;
}

.c-img::-webkit-scrollbar {
    width: 0px;
}

.txt:hover:before:active,
.txt:hover:after:active {
    left: 30px;
}

.txt {
    text-align: center;
    position: absolute;
    transition: all 0.3s;
    transform: scale(1.4);
    opacity: 0;
    color: #fff;
    padding: 35px 75px;
    margin: 45px 30px;
}

.txt:hover {
    transform: scale(1);
    opacity: 1;
}


/* ------- FOOTER ------- */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    color: aliceblue;
}

.footer ol {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 30px;
}

.footer li {
    list-style: none;
    margin: 30px;
}

.footer i {
    font-size: 30px;
    color: gray;
}

.footer h4 {
    margin: 70px;
    font-size: 20px;
}

#facebook i:hover {
    color: #24569a;
    transition: .3s;
}

#instagram i:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


#twitter i:hover {
    color: #1d9bf0;
    transition: .3s;
}

#whatsapp i:hover {
    color: #2fb944;
    transition: .3s;
}

#autor {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media(max-width:300px) {

    .logo {
        max-width: 50px;
    }

    /* main index */
    .card-body a {
        font-size: 10px;
    }

    /* main servicios */
    .container h2 {
        font-size: 20px;
    }

    .sec1 {
        font-size: 10px;
        margin: 10px 0px 10px0px;
    }

    #redes-sociales {
        margin: 0;
        padding: 0;
    }

    /* main nosotros */
    .agencia img {
        display: none;
    }

    /* footer */
    #autor {
        margin: 0;
    }
}