*{
    margin: 0;
    padding: 0;
}
.body {
    background-repeat: no-repeat;
    background-image: linear-gradient(#d7d7d7, grey, #222222cc);
}
    /* ---------- NAV ----------*/
.navColor{
    background-color: #FFFF;
    padding: 0;
    height: 80px;
}

#navbarNavDropdown{
    justify-content: end;
    padding-right: 20px;
}
.secciones li{
    padding: 0px 10px 0px 10px;
}
.nav-item:hover{
    background-color: #c7c5c5bb;
    border-radius: 30px;
    transition: .5s;
}
.dropdown{
    margin-right: 20px;
}

.Logo{
    margin: 0px 0px 0px 10px;
}
.logo{
    max-width: 110px;
}
.logo:hover{
    max-width: 120px;
    transition: .5s;
}

    /* ------- MAIN INDEX -------- */
.card-body{
    background-color: #b1aeaee7;
}

.infoIndex{
    justify-content: space-around;
}

    /* ------- FOOTER ------- */
    .footer {
        display: flex;
        flex-wrap: wrap;
        background-color: black;
        color: aliceblue;
    }
    
    .footer ol {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 30px;
    }
    
    .footer li {
        list-style: none;
        margin: 30px;
    }
    
    .footer i {
        font-size: 30px;
        color: gray;
    }
    
    .footer h4 {
        margin: 70px;
        font-size: 20px;
    }
    
    #facebook i:hover {
        color: #24569a;
        transition: .3s;
    }
    
    #instagram i:hover {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    
    #twitter i:hover {
        color: #1d9bf0;
        transition: .3s;
    }
    
    #whatsapp i:hover {
        color: #2fb944;
        transition: .3s;
    }

    #autor{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    @media(max-width:300px ){
        .navColor{
            height: 130px;
        }

        #autor{
            margin: 0;
        }

        .card-body a{
            font-size: 10px;
        }
    }